#universe {
    display: block;
    position: fixed;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

/* 下载按钮样式 */
.download-btn {
    background-color: #003366;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px; /* 添加一些间距 */
}

.download-btn:hover {
    background-color: #45a049; /* 鼠标悬停时保持原始颜色 */
    transform: scale(1); /* 鼠标悬停时保持元素大小不变 */
}

/* 引用按钮和弹出框样式 */
.citation-button {
    padding: 10px 20px;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.citation-button:hover {
    background-color: #45a049;
}

.citation-popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    text-align: center;
    z-index: 1000; /* 设置一个较高的层叠顺序值 */
}

.close-button, .copy-button {
    margin-top: 10px;
    padding: 5px 10px;
    color: white;
    border: none;
    cursor: pointer;
}

.close-button {
    background-color: #f44336;
}

.close-button:hover {
    background-color: #d32f2f;
}

.copy-button {
    background-color: #008CBA;
}

.copy-button:hover {
    background-color: #007bb5;
}
