@font-face {
  font-family: 'OldSong', 'Times';
  font-display: swap;
  src: url('/ForeignLegalSy/fonts/OldSong.ttf') format("truetype"),
       url('/ForeignLegalSy/fonts/Times.ttf') format("truetype");
}

body {
  font-family: 'Times', 'KingHwa_OldSong', serif !important;
}
